body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #006400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
  
    color: white;
    font-size: 24%;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
  }
  
  .nav-links li a:hover {
    color: lightgray;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: background-color 0.3s;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .hamburger-menu {
      display: flex;
    }
  
    .bar {
      background-color: #fff;
    }

    .open {
        display: block;
    }
  }
  